*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: block;
  background: #FAE;
}

div {
  display: block;
  unicode-bidi: isolate;
}

section {
  display: block;
  unicode-bidi: isolate;
}

.navbar-container .navbar-wrapper {
  align-items: center;
  background-color: #F1E6E9;
  color: #3B4151;
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0;
}

.visitor-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
