<p>visitor-layout works!</p>

<header>
  <app-navmenu class="navbar-container navbar-wrapper">

    <nav ngProjectAs="manila-folder-nav-items">
      <a href="../../app.component.html" class="font-medium px-10 text-[#04030A] hover:text-[#F7F3EA] hover:bg-[#04030A]">Your Hub</a>
      <a href="../../app.component.html" class="font-medium px-10 text-[#04030A] hover:text-[#F7F3EA] hover:bg-[#04030A]">Meet the Team</a>
      <a href="../../app.component.html" class="font-medium px-10 text-[#04030A] hover:text-[#F7F3EA] hover:bg-[#04030A]">Contact Us</a>
      <a href="../../app.component.html" class="font-medium px-10 text-[#04030A] hover:text-[#F7F3EA] hover:bg-[#04030A]">Learn More?</a>
    </nav>

  </app-navmenu>
</header>

<main class="relative flex flex-wrap min-h-screen justify-center overflow-hidden bg-[#F1E6E9] py-6 sm:py-12"></main>

<footer></footer>
