<form method="post" action="" class="bg-[#05040B] shadow-md px-8 p-8 m-4">
  <div>

    <label for="article-title" class="block text-[#F7F3EA] text-lg font-bold m-2">Title</label>
    <input type="text" name="article-title" placeholder="Title" />

    <label for="article-content" class="block text-[#F7F3EA] text-md font-medium m-2">Description</label>
    <input type="text" name="article-content" placeholder="Description" />

    <input type="submit" value="Submit" class="bg-[#05040B] text-[#F7F3EA] border border-black rounded px-4 py-2" />

  </div>
</form>
